body {
  margin: auto;
  background-color: #548CFF;
}

.grid {
 width: 900px ;
 height: 600px;
 margin: auto;
 border: solid;
 padding-left: 50px;
 padding-right: 50px;
 padding-top: 10px;
}

.card-back {
  padding: 10px;
  height: 200px;
  width: 115px;
  text-align: center;
  border: solid;
  border-color: transparent;
  background: url(/public/Mario.png);
  background-size:contain;
  background-color: #FBD000;
} 

.card-back:hover{
  border: solid;
  border-color: blueviolet;
}

.card-front {
  padding: 10px;
  height: 200px;
  width: 115px;
  text-align: center;
  background-color:green;
  border: solid;
  border-color: transparent;
} 

.card-found {
  padding: 10px;
  height: 200px;
  width: 115px;
  text-align: center;
  background-color:red;
  border: solid;
  border-color: transparent;
}
